{% extends 'base.html' %}

{% block sidebar_container %}
  <div class="col-md-3 col-lg-2 d-none d-md-block bg-light p-3 fixed-sidebar">
      {% include "includes/sidebar.html" %}
  </div>
{% endblock sidebar_container %}

{% block content_col_class %}col-md-9 col-lg-10 offset-md-3 offset-lg-2{% endblock content_col_class %}

{% block content %}
  <div class="container mt-4">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="card-title">{{ object|yesno:"Update,Create" }} Position</h2>
        <form method="post">
          {% csrf_token %}
          <div class="form-group">
            {{ form.as_p }}
          </div>
          <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
