{% extends "base.html" %}

{% block sidebar_container %}
  <div class="col-md-3 col-lg-2 bg-light p-3 vh-100">
    <div style="position: sticky; top: 0;">
      {% include "includes/sidebar.html" %}
    </div>
  </div>
{% endblock sidebar_container %}

{% block content_col_class %}col-md-9 col-lg-10{% endblock content_col_class %}

{% block content %}
  {% if not status %}
<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-md-5" style="border-right: 1px solid #ccc;">
      <h3 class="text-center">Uncompleted tasks ({{ uncompleted_tasks.count }}) </h3>
      <div class="row">
        {% for task in uncompleted_tasks %}
        <div class="col-12 mb-3">
          <div class="card p-3 shadow-sm">
            <h5 class="text-center">{{ task.name }}</h5>
            <p class="text-center">Task type: {{ task.task_type }}</p>
            <p class="text-center">Priority: {{ task.get_priority_display }}</p>
            <p class="text-center">Deadline: {{ task.deadline }}</p>
            <div class="text-center">
              <a href="{% url 'taskhub:task_detail' task.id %}" class="btn btn-primary">Detail</a>
            </div>
          <br>
            <div class="text-center">
                <form method="post" action="{% url 'taskhub:toggle_task_completion' task.id %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn {% if task.is_completed %}btn-danger{% else %}btn-success{% endif %}">
                {% if task.is_completed %}
                Undo
                {% else %}
                Complete
                {% endif %}
                </button>
                </form>
              </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12">
          <p class="text-center">There is no uncompleted tasks</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="col-md-5">
      <h3 class="text-center">Completed tasks ({{ completed_tasks.count }})</h3>
      <div class="row">
        {% for task in completed_tasks %}
        <div class="col-12 mb-3">
          <div class="card p-3 bg-light">
            <h5 class="text-center">{{ task.name }}</h5>
            <p class="text-center">Task type: {{ task.task_type }}</p>
            <p class="text-center">Priority: {{ task.get_priority_display }}</p>
            <p class="text-center">Deadline: {{ task.deadline }}</p>
            <div class="text-center">
              <a href="{% url 'taskhub:task_detail' task.id %}" class="btn btn-primary">Detail</a>
            </div>
          <br>
            <div class="text-center">
                <form method="post" action="{% url 'taskhub:toggle_task_completion' task.id %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn {% if task.is_completed %}btn-danger{% else %}btn-success{% endif %}">
                {% if task.is_completed %}
                Undo
                {% else %}
                Complete
                {% endif %}
                </button>
                </form>
              </div>
          </div>
        </div>
        {% empty %}
        <div class="col-12">
          <p class="text-center">There is no completed tasks</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  {% elif status == 'completed' %}
    <h3 class="text-center">Completed tasks ({{ completed_tasks.count }})</h3>
<div class="row">
  {% for task in completed_tasks %}
  <div class="col-12 mb-3">
    <div class="card p-3 bg-light">
      <h5 class="text-center">{{ task.name }}</h5>
      <p class="text-center">Task type: {{ task.task_type }}</p>
      <p class="text-center">Priority: {{ task.get_priority_display }}</p>
      <p class="text-center">Deadline: {{ task.deadline }}</p>
      <div class="text-center">
              <a href="{% url 'taskhub:task_detail' task.id %}" class="btn btn-primary">Detail</a>
            </div>
          <br>
            <div class="text-center">
                <form method="post" action="{% url 'taskhub:toggle_task_completion' task.id %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn {% if task.is_completed %}btn-danger{% else %}btn-success{% endif %}">
                {% if task.is_completed %}
                Undo
                {% else %}
                Complete
                {% endif %}
                </button>
                </form>
              </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12">
    <p class="text-center">There is no completed tasks</p>
  </div>
  {% endfor %}
</div>
  {% elif status == 'uncompleted' %}
    <h3 class="text-center">Uncompleted tasks ({{ uncompleted_tasks.count }})</h3>
<div class="row">
  {% for task in uncompleted_tasks %}
  <div class="col-12 mb-3">
    <div class="card p-3 bg-white">
      <h5 class="text-center">{{ task.name }}</h5>
      <p class="text-center">Task type: {{ task.task_type }}</p>
      <p class="text-center">Priority: {{ task.get_priority_display }}</p>
      <p class="text-center">Deadline: {{ task.deadline }}</p>
      <div class="text-center">
              <a href="{% url 'taskhub:task_detail' task.id %}" class="btn btn-primary">Detail</a>
            </div>
          <br>
            <div class="text-center">
                <form method="post" action="{% url 'taskhub:toggle_task_completion' task.id %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn {% if task.is_completed %}btn-danger{% else %}btn-success{% endif %}">
                {% if task.is_completed %}
                Undo
                {% else %}
                Complete
                {% endif %}
                </button>
                </form>
              </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12">
    <p class="text-center">There is no uncompleted tasks</p>
  </div>
  {% endfor %}
</div>
    {% elif status == 'assigned' %}
    <h3 class="text-center">Assigned tasks ({{ assigned_tasks.count }}) <a href="{% url 'taskhub:task_create'%}" class="btn btn-primary">Assign task</a></h3>
<div class="row">
  {% for task in assigned_tasks %}
  <div class="col-12 mb-3">
    <div class="card p-3 bg-light">
      <h5 class="text-center">{{ task.name }}</h5>
      <p class="text-center">Task type: {{ task.task_type }}</p>
      <p class="text-center">Priority: {{ task.get_priority_display }}</p>
      <p class="text-center">Deadline: {{ task.deadline }}</p>
      <div class="text-center">
              <a href="{% url 'taskhub:task_detail' task.id %}" class="btn btn-primary">Detail</a>
            </div>
          <br>
            <div class="text-center">
                <form method="post" action="{% url 'taskhub:toggle_task_completion' task.id %}?next={{ request.path }}">
                {% csrf_token %}
                <button type="submit" class="btn {% if task.is_completed %}btn-danger{% else %}btn-success{% endif %}">
                {% if task.is_completed %}
                Undo
                {% else %}
                Complete
                {% endif %}
                </button>
                </form>
              </div>
    </div>
  </div>
  {% empty %}
  <div class="col-12">
    <p class="text-center">There is no assigned tasks</p>
  </div>
  {% endfor %}
</div>
  {% endif %}
{% endblock %}
